<h1>Upload a new avatar</h1>
<% form_for :user, :html => {:multipart => true} do |f| %>
  Select avatar:<br />
  <%= f.file_field :cover_image %><br />
  <br />
  <%= submit_tag 'Upload' %>
<% end %>

